$light-blue: #129793;
$emperor-gray: #505050;
$egg-white-yellow: #FFF5C3;
$aqua: #9BD7D5;
$bitter-sweet-red: #FF7260;

/* Classes for colored-text */
.light-blue-text {
  color: $light-blue;
}

.emperor-gray-text {
  color: $emperor-gray;
}

.egg-white-yellow-text {
  color: $egg-white-yellow;
}

.aqua-text {
  color: $aqua;
}

.bitter-sweet-red-text {
  color: $bitter-sweet-red;
}

.light-blue-background {
  background-color: $light-blue;
}

.emperor-gray-background {
  background-color: $emperor-gray;
}

.egg-white-yellow-background {
  background-color: $egg-white-yellow;
}

.aqua-background {
  background-color: $aqua;
}

.bitter-sweet-red-background {
  background-color: $bitter-sweet-red;
}
