@import "_colors.scss";
$line-height: 64px;
/*
nav {
  height: $line-height;
  .button-collapse i {
    line-height: $line-height;
  }
}

.hide-on-med-and-down div{
  li {
    vertical-align: top;
    display: inline-flex;
    float: none;
    line-height: $line-height;
    a {
      color: $egg-white-yellow;
      display: inline-flex;
    }
  }
}
*/
nav {
  height: 64px;
}
.nav-wrapper div .center{
  // list-style: none;
  text-align: center;
  li {
    vertical-align: top;
    display: inline-block;
    float: none;
    line-height: $line-height;
    a {
      color: $bitter-sweet-red;
      display: inline-block;
    }
    a:hover {
      // color: $aqua
      color: $aqua;
    }
  }
}
